<h1> <%= @article.title %> </h1>

<p>
	<%= @article.text %>
</p>

<hr>

<p>
	<% @comments.each do |comment| %>
		<div>
			<span>
				<i> <%= comment.author %> </i>
			</span>

			<p>
				<%= comment.body %>
			</p>
		</div>
	<% end %>	
</p>

<p>
	<%= form_for([@article, @article.comments.build]) do |f| %>

		<p>	
			<%= f.label :body %>
			<%= f.text_area :body %>
		</p>

		<p>
			<%= f.submit %>
		</p>

	<% end %>

</p>